<div class="forum panel panel-primary" id="forum-{{ forum.id }}">
    <div class="panel-body">
        <a href="{{ forum|path }}">
            <h3>{{ forum }}</h3>
        </a>
        {% include '@ComTSoForum/Common/entity_info.html.twig' with {'entity': forum} %}
        {% if forum.content %}
            <div class="preview">
                <a href="#forum-{{ forum.id }}" class="preview-toggle preview-show"><i class="fa fa-toggle-down"></i> Afficher toute la description</a>
                {{ forum.content|raw }}
                <a href="#forum-{{ forum.id }}" class="preview-toggle preview-hide"><i class="fa fa-toggle-up"></i> Masquer la description</a>
            </div>
        {% endif %}
    </div>
</div>
