{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block content %}
	<ul class="nav nav-tabs">
		{% for f in forums %}
			<li{{ f.id == forum.id ? ' class="active"' }}><a href="{{ f|path }}">{{ f }}</a></li>
		{% endfor %}
	</ul>
	{% for topic in topics %}
		<div class="topic" id="topic-{{ topic.id }}">
			<h3><a href="{{ topic|path }}">{{ topic }}</a></h3>
			<div>{{ topic.content|raw }}</div>
			{% for comment in [] %}
				<hr class="clear">
				{% include 'ComTSoForumBundle:Comment:comment.html.twig' %}
			{% endfor %}
			{% spaceless %}
				{% if topic.photos %}
					<div class="topic-photos">
						{% for photoTopic in topic.photos %}
							{% set photo = photoTopic.photo %}
							{% if photo %}
								{% include 'ComTSoForumBundle:Photo:thumbnail.html.twig' %}
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			{% endspaceless %}
		</div>
		<hr>
	{% endfor %}
{% endblock %}
		
{% block aside %}
	<h4>Accès rapide</h4>
	<ul class="nav nav-compact">
		{% for topic in topics %}
			<li><a href="{{ topic|path }}">{{ topic }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}

