{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block content %}
    <ul class="nav nav-tabs">
        {% for f in forums %}
            <li{{ f.id == forum.id ? ' class="active"' }}><a href="{{ f|path }}">{{ f }}</a></li>
        {% endfor %}
    </ul>
    <div class="forum" data-forum-id="{{ forum.id }}">
        {% block forum_actions %}
            <div class="btn-group pull-right">
                <a href="{{ forum|path('edit') }}" class="btn btn-primary" title="Modifier"><i class="fa fa-pencil"></i></a>
                <a href="{{ forum|path('add_topic') }}" class="btn btn-info" title="Ajouter un topic"><i class="fa fa-plus"></i></a>
            </div>
        {% endblock %}
        {% include 'ComTSoForumBundle:Common:entity_header.html.twig' with {entity: forum} %}
        <hr class="clear">
        {% block inner_content %}
            {% include 'ComTSoForumBundle:Pagination:pager.html.twig' with {'results': topics} %}
            {% for topic in topics %}
                {% include 'ComTSoForumBundle:Topic:preview.html.twig' %}
            {% endfor %}
            <div class="clear"></div>
            {% include 'ComTSoForumBundle:Pagination:pager.html.twig' with {'results': topics} %}
        {% endblock %}
        <div class="clear"></div>
    </div>
{% endblock %}

{% block aside %}
    <h4>Accès rapide</h4>
    <ul class="nav nav-compact">
        {% for topic in topics %}
            <li><a href="{{ topic|path }}">{{ topic }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
