{% set photo = photo is defined ? photo : entity %}
<div class="photo" id="photo-{{ photo.id }}">
    <div class="col-sm-3">
        {% include 'ComTSoForumBundle:Photo:thumbnail.html.twig' %}
    </div>
    <div class="col-sm-9">
        {% include 'ComTSoForumBundle:User:avatar.html.twig' with {'author': photo.author, size: 'sm'} %}
        <a href="{{ photo|path }}"><h4>{% if query is defined %}{{ photo.title|highlight(query, true) }}{% else %}{{ photo.title }}{% endif %}</h4></a>
        <div class="clear"></div>
        <dl class="dl-horizontal">
            <dt>Date de prise :</dt><dd>{{ photo.takenAt|date() }}</dd>
            <dt>Taille :</dt><dd>{{ photo.fileSize|file_size }}</dd>
            {% for key, value in photo.exif %}
                {% if key in ['IFD0:Model', 'IFD0:Artist', 'IFD0:Copyright', 'ExifIFD:ExposureTime', 'ExifIFD:FNumber', 'ExifIFD:ISO', 'ExifIFD:FocalLength', 'Canon:LensModel'] %}
                    <dt>{{ key }} :</dt><dd>{{ value }}</dd>
                {% endif %}
            {% endfor %}
        </dl>
    </div>
</div>
