{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block content %}
    {% block photo_actions %}
        <div class="btn-group pull-right">
            <a href="{{ photo|path('edit') }}" class="btn btn-primary" title="Modifier"><i class="fa fa-pencil"></i></a>
        </div>
    {% endblock %}
    {% include 'ComTSoForumBundle:Common:entity_header.html.twig' with {entity: photo, skip_content: true} %}
    {% block inner_content %}
        {% include 'ComTSoForumBundle:Photo:image.html.twig' %}
        <div class="text-center well">
            <a href="{{ path('comtso_photo_source_original', {'id': photo.id, 'download': true}) }}" class="btn btn-default" target="_blank">Télécharger ({{ photo.fileSize|file_size }})</a>
        </div>
        {% if photo.content %}
            <div>{{ photo.content|raw }}</div>
            <hr class="clear">
        {% endif %}
        <dl class="dl-horizontal">
            <dt>Date de prise :</dt><dd>{{ photo.takenAt|date() }}</dd>
            <dt>Taille :</dt><dd>{{ photo.fileSize|file_size }}</dd>
            {% for key, value in photo.exif %}
                {% if key in ['IFD0:Model', 'IFD0:Artist', 'IFD0:Copyright', 'ExifIFD:ExposureTime', 'ExifIFD:FNumber', 'ExifIFD:ISO', 'ExifIFD:FocalLength', 'Canon:LensModel'] %}
                    <dt>{{ key }} :</dt><dd>{{ value }}</dd>
                {% endif %}
            {% endfor %}
        </dl>
        {% endblock %}
{% endblock %}
