<div class="btn-group pull-right">
	<button type="button" class="btn btn-primary btn-sm photo-widget-browse" title="Sélectionner une photo" data-toggle="tooltip">
		<i class="fa fa-search"></i> Browse
	</button>
	<button type="button" class="btn btn-warning btn-sm photo-widget-detach" title="Détacher la photo" data-toggle="tooltip">
		<i class="fa fa-times"></i>
	</button>
</div>
<div class="pull-left">
	{% include 'ComTSoForumBundle:Photo:thumbnail.html.twig' with {'filter': 'tiny'} %}
</div>
{% if photo is not empty %}
	<dl class="col-lg-7 dl-horizontal dl-small">
		<dt>Titre :</dt><dd>
			<a href="{{ photo|path }}" target="_blank">
				{% if photo.title %}
					{{ photo.title }}
				{% else %}
					<span class="text-muted">Photo sans titre</span>
				{% endif %}
			</a>
		</dd>
		<dt>Taille :</dt><dd>{{ photo.fileSize|file_size }}</dd>
		<dt>Prise :</dt><dd>{{ photo.takenAt|htmlDate }}</dd>
		<dt>Upload :</dt><dd>{{ photo.createdAt|htmlDate }}</dd>
	</dl>
{% endif %}
