{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="btn-group pull-right">
            <a href="{{ user|path }}" class="btn btn-default">Retour</a>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
        <div class="clear"></div>
    {{ form_end(form) }}
{% endblock %}

{% block aside %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#{{ form.signature.vars.id }}').ckeditor();
        });
    </script>
{% endblock %}
