{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block content %}
    {% include 'ComTSoUserBundle:Profile:show_content.html.twig' %}
    {% if user == app.user %}
        <h2>Mes mémos</h2>
    {% else %}
        <h2>Messages privés</h2>
    {% endif %}
    {% include 'ComTSoForumBundle:Comment:create_form.html.twig' %}
    {% for message in messages %}
        <hr class="clear">
        {% include 'ComTSoForumBundle:Message:message.html.twig' %}
    {% endfor %}
{% endblock %}

{% block aside %}
    <h4>Accès rapide</h4>
    <ul class="nav nav-compact">
        {% for u in users %}
            <li{{ u.id == user.id ? ' class="active"' }}><a href="{{ u|path }}">{{ u }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#{{ form.content.vars.id }}').click(function(e){$(this).ckeditor();});
        });
    </script>
{% endblock %}
