<div class="post" id="post-{{ comment.id }}">
    <div class="col-sm-2 col-xs-3 post-side">
        {% include 'ComTSoForumBundle:User:avatar.html.twig' with {'author': comment.author} %}
    </div>
    <div class="col-sm-9 col-xs-8 text-justify">
        {{ comment.content|raw }}
        <p class="post-infos text-muted">
            Posté le {{ comment.createdAt|date('d/m/Y à H:i') }}
            {#% if app.user.id == comment.author.id or 'ROLE_ADMIN' in app.user.roles %}
            – <a class="btn btn-xs" href="#"><i class="fa fa-pencil"></i> modifier</a> |
            <a class="btn btn-xs text-warning" href="#"><i class="fa fa-remove"></i> supprimer</a>
            {% endif %#}
        </p>
    </div>
    <div class="col-sm-1 post-actions">
        {% block post_actions %}
            <div class="btn-group btn-group-vertical">
                <a href="{{ comment|path('show') }}" class="btn"><i class="fa fa-eye"></i></a>
                <a href="{{ comment|path('edit') }}" class="btn"><i class="fa fa-pencil"></i></a>
                <a href="{{ comment|path('delete') }}" class="btn text-danger"><i class="fa fa-trash-o"></i></a>
            </div>
        {% endblock %}
    </div>
</div>
