{% extends 'ComTSoForumBundle:Topic:layout.html.twig' %}

{% set skip_content = true %}

{% block topic_actions %}
    <div class="btn-group pull-right">
        <a href="{{ topic|path }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Retour</a>
    </div>
{% endblock %}

{% block inner_content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {% include 'ComTSoForumBundle:Comment:comment.html.twig' with {'show_actions': false}%}
        <hr class="clear">
        <div class="btn-group pull-right">
            <a href="{{ topic|path }}" class="btn btn-default">Retour</a>
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
