{% block simple_select_widget %}
    {{ block('choice_widget_collapsed') }}
    <input type="hidden" id="{{ id }}_original" value="{{ value }}" />
{% endblock %}

{% block help_label %}
    <span class="help-block">{{ help_label|trans({}, translation_domain)|raw }}</span>
{% endblock help_label %}

{% block photo_widget %}
    {% set photo = form.vars.data %}
    <div class="photo-selector-widget" data-photo-id="{{ photo is not empty ? photo.id }}" id="photo-widget-{{ id }}">
        {% if browsable or photo is empty %}
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary btn-sm photo-widget-browse" title="Sélectionner une photo" data-toggle="tooltip">
                    <i class="fa fa-search"></i> Browse
                </button>
                {% if photo %}
                    <button type="button" class="btn btn-warning btn-sm photo-widget-detach" title="Détacher la photo" data-toggle="tooltip">
                        <i class="fa fa-times"></i>
                    </button>
                {% endif %}
            </div>
        {% endif %}
        <div class="widget-container">
            {% include 'ComTSoForumBundle:Photo:widget.html.twig' %}
        </div>
        <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    </div>
{% endblock %}

{% block comtso_photo_topic_widget %}
    <a class="btn btn-warning pull-right" data-collection-remove-btn=".comtso_topic_photos_0_form_group"><i class="fa fa-times"></i></a>
    {{ block('form_row') }}
    <hr>
{% endblock %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {% set widget_addon_icon = widget_addon_append.icon is defined ? widget_addon_append.icon : 'calendar'  %}
            <div data-provider="datepicker" class="input-group date" data-date="{{ value }}" data-link-field="{{ id }}" data-link-format="yyyy-mm-dd">
                <input {% if widget_form_control_class is not sameas(false) %}class="{{ widget_form_control_class }}" {% endif %}type="text" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if 'placeholder' in attr|keys %} placeholder="{{ attr['placeholder'] }}"{% endif %}>
                <input type="hidden" value="{{ value }}" {{ block('widget_attributes') }}>
                <span class="input-group-addon"><span class="glyphicon-calendar fa fa-{{ widget_addon_icon }}"></span></span>
            </div>
        {% else %}
            {% set attr = attr|merge({'class': attr.class|default('inline')}) %}
            <div class="row">
                {{ date_pattern|replace({
                    '{{ year }}':  form_widget(form.year, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-3')}),
                    '{{ month }}': form_widget(form.month, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-3')}),
                    '{{ day }}':   form_widget(form.day, {'attr': {'class': attr.widget_class|default('') ~ ''}, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class|default('col-sm-3')}),
                })|raw }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}