{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block content %}
    <h2>Activités récentes</h2>
    {{ form(form) }}
    {% for topic in topics %}
        {% include 'ComTSoForumBundle:Home:topic_preview.html.twig' %}
    {% else %}
        <div class="well text-center">
            <p class="text-muted"><small>Aucun message à afficher</small></p>
        </div>
    {% endfor %}
    <hr style="margin:5em;">
    <h2>Les forums</h2>
    {% for f in forums %}
        {% include 'ComTSoForumBundle:Forum:preview.html.twig' with { 'forum': f } %}
    {% endfor %}
{% endblock %}

{% block aside %}
    <h4>Accès rapide</h4>
    <ul class="nav nav-compact">
        {% for t in topics %}
            <li><a href="{{ t|path }}">{{ t }}</a></li>
        {% endfor %}
    </ul>
    <h4>Forums</h4>
    <ul class="nav nav-compact">
        {% for f in forums %}
            <li><a href="{{ f|path }}">{{ f }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#{{ form.since.vars.id }}').on('change', function(e){
                $(this.form).submit();
            });
        });
    </script>
{% endblock %}