{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block content %}
	<h2>Activités récentes</h2>
	{% for topic in topics %}
		<div class="topic panel panel-default">
			<div class="panel-heading">
				<h3><a href="{{ path('comtso_forum_topic_show', {id: topic.id, forumId: topic.forum.id}) }}" name="topic-{{ topic.id }}">{{ topic }}</a></h3>
				<div>{{ topic.content|raw }}</div>
			</div>
			<div class="panel-body">
				{% for comment in topic.lastComments %}
					{% if loop.index != 1 %}<hr class="clear">{% endif %}
					{% include 'ComTSoForumBundle:Comment:comment.html.twig' %}
				{% endfor %}
			</div>
			<div class="panel-footer text-center"><a class="btn btn-info" href="{{ path('comtso_forum_topic_show', {id: topic.id, forumId: topic.forum.id}) }}">Voir le topic</a></div>
		</div>
	{% endfor %}
{% endblock %}
		
{% block aside %}
	<h4>Accès rapide</h4>
	<ul class="nav nav-compact">
		{% for t in topics %}
			<li><a href="#topic-{{ t.id }}">{{ t }}</a></li>
		{% endfor %}
	</ul>
	<h4>Forums</h4>
	<ul class="nav nav-compact">
		{% for f in forums %}
			<li><a href="{{ path('comtso_forum_show', {id: f.id}) }}">{{ f }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}
