{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block content %}
    <h2>Activités récentes</h2>
    <p class="text-muted">Affichage des derniers messages depuis le {{ since|date('d/m/Y') }}</p>
    {% for topic in topics %}
        {% include 'ComTSoForumBundle:Home:topic_preview.html.twig' %}
    {% else %}
        <div class="well text-center">
            <p class="text-muted"><small>Aucun message à afficher</small></p>
        </div>
    {% endfor %}
{% endblock %}

{% block aside %}
    <h4>Accès rapide</h4>
    <ul class="nav nav-compact">
        {% for t in topics %}
            <li><a href="{{ t|path }}">{{ t }}</a></li>
        {% endfor %}
    </ul>
    <h4>Forums</h4>
    <ul class="nav nav-compact">
        {% for f in forums %}
            <li><a href="{{ f|path }}">{{ f }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
