{% extends 'ComTSoForumBundle:Topic:layout.html.twig' %}

{% block topic_actions %}
    <div class="btn-group pull-right">
        <a href="{{ topic|path }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Retour</a>
    </div>
{% endblock %}

{% block inner_content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="btn-group pull-right">
            <a href="{{ topic|path }}" class="btn btn-default">Retour</a>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#{{ form.content.vars.id }}').ckeditor();
        });
    </script>
{% endblock %}
