{% extends 'ComTSoForumBundle:Topic:layout.html.twig' %}

{% set skip_content = true %}

{% block topic_actions %}
    <div class="btn-group-vertical col-sm-10 entity-actions">
        <a href="{{ topic|path }}" class="btn btn-default"><i class="fa fa-arrow-left"></i> Retour</a>
        <a href="#topic_add_photos" class="btn btn-info" title="Ajouter des photos"><i class="fa fa-camera-retro"></i>
            Ajouter des photos</a>
        <a href="{{ topic|path('manage_photos', {orderByDate: 1}) }}" class="btn btn-default"
           title="Trier les photos par date de prise de vue"><i class="fa fa-sort-numeric-asc"></i> Trier les photos</a>
    </div>
{% endblock %}

{% block inner_content %}
    <h4>Gestion des photos</h4>
    <p class="text-info"><small><i class="fa fa-question-circle"></i> Cliquez sur une photo pour faire apparaître les actions possibles, glissez-déposez les photos pour les réordonner.</small></p>
    {% spaceless %}
        {% if topic.photos %}
            <div class="topic-photos" id="sortable-photos" data-id="{{ topic.id }}" data-forum-id="{{ forum.id }}">
                {% include "@ComTSoForum/Topic/managePhotos.list.html.twig" %}
            </div>
        {% endif %}
    {% endspaceless %}
    <hr class="clear">
    <h4 id="topic_add_photos">Ajout de photos</h4>
    {% include 'ComTSoForumBundle:Photo:uploader.form.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            oneUploadAlbumFormInit($('#photo-upload'));
            triggerSortablePhotos($('#sortable-photos'));
        });
    </script>
{% endblock %}
