<div class="topic panel panel-default" id="topic-{{ topic.id }}">
    <div class="panel-heading">
        <h3><a href="{{ topic|path }}">{{ topic }}</a></h3>
        <div>{{ topic.content|raw }}</div>
    </div>
    <div class="panel-body">
        {% spaceless %}
            {% if topic.photos %}
                <div class="topic-photos">
                    {% for photoTopic in topic.photos %}
                        {% set photo = photoTopic.photo %}
                        {% if photo %}
                            {% include 'ComTSoForumBundle:Photo:thumbnail.html.twig' %}
                        {% endif %}
                    {% endfor %}
                </div>
                <hr class="clear">
            {% endif %}
            {% for comment in topic.comments.slice(0, 3) %}
                {% if loop.index != 1 %}<hr class="clear">{% endif %}
                {% include 'ComTSoForumBundle:Comment:comment.html.twig' %}
            {% endfor %}
        {% endspaceless %}
    </div>
    <div class="panel-footer text-center"><a class="btn btn-info" href="{{ topic|path }}">Voir le topic</a></div>
</div>
