{% extends 'ComTSoForumBundle::layout.html.twig' %}

{% block content %}
	<ul class="nav nav-tabs">
		{% for f in forums %}
			<li{{ f.id == forum.id ? ' class="active"' }}><a href="{{ f|path }}">{{ f }}</a></li>
		{% endfor %}
	</ul>
	<div class="topic">
		<h3>{{ topic }}</h3>
		<div>{{ topic.content|raw }}</div>
		<p class="text-muted">
			Créé par <a href="{{ topic.author|path }}">{{ topic.author }}</a>
			le {{ topic.createdAt|date('d/m/Y à H:i') }} – {{ topic.views }} vues – {{ topic.commentCount }} posts
		</p>
		{% spaceless %}
			{% if topic.photos %}
				<div class="topic-photos">
					{% for photoTopic in topic.photos %}
						{% set photo = photoTopic.photo %}
						{% if photo %}
							<a href="{{ photo|path }}" class="img-thumbnail" title="{{ photo.title }}" data-gallery data-url="{{ photo.filename | imagine_filter('large') }}">
								{% include 'ComTSoForumBundle:Photo:image.html.twig' with {'filter': 'thumbnail'} %}
							</a>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		{% endspaceless %}
		<hr class="clear">
		{% include 'ComTSoForumBundle:Comment:create_form.html.twig' %}
		{% for comment in topic.comments %}
			<hr class="clear">
			{% include 'ComTSoForumBundle:Comment:comment.html.twig' %}
		{% endfor %}
	</div>
{% endblock %}
		
{% block aside %}
	<h4>Accès rapide</h4>
	<ul class="nav nav-compact">
		{% for t in topics %}
			<li{{ t.id == topic.id ? ' class="active"' }}><a href="{{ t|path }}">{{ t }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}

{% block end_body %}
	{% include 'ComTSoForumBundle:Photo:gallery.html.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
        $(document).ready(function(){
            $('#{{ form.content.vars.id }}').click(function(e){$(this).ckeditor();});
        });
	</script>
{% endblock %}
